version: '3'
services:
    electrumx:
      network_mode: "host"
      image: skywills87/electrumx
      ports: 
        - "${SERVICE_PORT}:50001"
      environment:
        - 'DAEMON_URL=${DAEMON_URL}'
        - 'COIN=${COIN}'